server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/wordpress;
        index index.php;
        server_name _;
        location / {
                try_files $uri $uri/ =404;
        }
        location ~ \.php$ {
                fastcgi_pass unix:/run/php/php8.1-fpm.sock;
        }
        location ~ /\.ht {
               deny all;
        }
}