server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name _;
        location / {
                try_files $uri $uri/ =404;
        }
        location / {
            proxy_pass    http://0.0.0.0:8080;
        }
        location ~ /\.ht {
               deny all;
        }
}